.wrap {
 max-width: 1400px;
 width: 100%;
 margin: 0 auto 40px;
 overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
 .wrap {
  max-width: 944px;
 }
}

@media screen and (max-width: 768px) {
 .wrap {
  max-width: 728px;
 }
}

.title {
 font-size: clamp(28px, 5vw + 1rem, 52px);
 font-weight: 700;
 text-align: center;
 margin-bottom: 40px;
}

@media (min-width: 1024px) {
 .title {
  font-size: 40px;
 }
}
.tabs {
 display: flex;
 justify-content: flex-start;
 gap: 18px;
 overflow-x: hidden;
 margin-bottom: 40px;
 flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
 .tabs {
  display: none;
 }
}

.dropdown {
 display: none;
}

@media screen and (max-width: 768px) {
 .dropdown {
  display: block;
  margin-bottom: 40px;
 }
}
.tabButton {
 font-size: 16px;
 font-weight: 500;
 border: none;
 cursor: pointer;
 padding-bottom: 12px;
 color: var(--color-grey-2);
 white-space: nowrap;
}

.active,
.tabButton:hover {
 color: var(--color-dark-green);
 border-bottom: 2px solid var(--color-dark-green);
}
.imgWrapper {
 width: 100%;
}

.imgPreview {
 max-width: 100%;
 height: auto;
}

@media (min-width: 1024px) {
 .imgPreview {
  object-fit: cover;
 }
}

@media (min-width: 1920px) {
 .imgPreview {
  height: 533px;
  object-fit: cover;
 }
}

@media screen and (max-width: 768px) {
 .imgPreview {
  height: 277px;
  object-fit: cover;
 }
}
.mainCatalog {
 display: flex;
 gap: 80px;
 flex-direction: column;
}
.description {
 display: flex;
 flex-direction: row;
 gap: 30px;
 width: 100%;
}

.mediaSection{
display: flex;
flex-direction: column;
gap: 28px;
}


@media screen and (max-width: 768px) {
 .title {
  font-size: 32px;
 }
}

@media screen and (max-width: 360px) {
 .wrap {
  width: 320px;
  gap: 60px;
 }
 .title {
  font-size: 28px;
  margin-bottom: 28px;
 }
 .imgPreview {
  width: 320px;
  height: 500px;
  object-fit: cover;
 }
}
