.wrap {
 display: flex;
 flex-direction: column;
 width: 1400px;
 margin: 0 auto 40px;
}
.titleQA {
 font-size: 52px;
 font-weight: 700;
 text-align: center;
 margin-bottom: 40px;
}

.tabs {
 display: flex;
 justify-content: left;
 gap: 18px;
}
.tabButton {
 font-size: 16px;
 font-weight: 500;
 border: none;
 cursor: pointer;
 padding-bottom: 12px;
 color: #535353;
}

.active,
.tabButton:hover {
 color: #3c4226;
 border-bottom: 2px solid #3c4226;
}

@media screen and (max-width: 1024px) {
.wrap {
 width: 944px;
}
.titleQA {
 font-size: 40px;
}
}
@media screen and (max-width: 768px) {
.wrap {
 width: 768px;
}

.titleQA {
 font-size: 32px;
}
}
@media screen and (max-width: 360px) {
.wrap {
 width: 320px;
}
.titleQA {
 font-size: 28px;
 margin-bottom: 28px;
}
}
