services:

  db:
    image: postgres:14
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata

    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
      - POSTGRES_HOST=${POSTGRES_HOST?Variable not set}
      - POSTGRES_PORT=${POSTGRES_PORT?Variable not set}

  backend:
    build: ./backend
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - static:/backend/static/
      - media:/backend/media/
    networks:
      - default
    command: bash /scripts/start-dev.sh

  frontend:
    build: ./frontend
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      - PORT=3000
    volumes:
      - frontend_dist:/app/dist/
    networks:
      - default
    command: sh -c 'cp -r ./.next/* /app/dist/ && npm run start'

  nginx:
    image: nginx:alpine
    restart: always
    depends_on:
      - frontend
    ports:
      - "9000:80"
    volumes:
      - static:/static/
      - media:/media/
      - ./infra/nginx.conf:/etc/nginx/conf.d/default.conf
      - frontend_dist:/usr/src/app/dist
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  db-data:
  static:
  media:
  frontend_dist:
