.sectionDocuments {
 display: flex;
 flex-direction: column;
}

.info {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 28px;
}

.title {
 color: #202020;
 font-size: 22px;
 font-weight: 700;
}

.count {
 font-size: 18px;
 font-weight: 400;
 align-self: center;
 color: #3c4226;
 line-height: 130%;
}

.documentBox {
 display: flex;
 flex-direction: column;
 gap: 16px;
}
.fileRow {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #f8f8f8;
 padding-bottom: 8px;
}

.nameContainer {
 flex-basis: 65%;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.propertyContainer {
 display: flex;
 justify-content: space-between;
 flex-basis: 35%;
}

.fileDate,
.fileFormat,
.downloadLink {
 flex-shrink: 0;
 text-align: right;
}

.downloadLink::after {
 content: '';
 background-image: url('/catalog-images/download.svg');
 width: 13.3px;
 height: 13.3px;
 display: inline-block;
 vertical-align: middle;
 margin-left: 5px;
}

.propertyContainer span {
 flex-basis: calc(33.33%);
 min-width: 0;
}

.fileName,
.fileDate,
.fileFormat,
.downloadLink {
 font-size: 16px;
 font-weight: 400;
 line-height: 130%;
 color: #535353;
}

.fileName {
 color: #040404;
}

.downloadLink {
 text-decoration: none;
 cursor: pointer;
}

.toggleButton {
 text-align: left;
 align-items: center;
 justify-content: space-between;
 font-size: 18px;
 font-weight: 600;
 line-height: 100%;
 cursor: pointer;
 margin-top: 40px;
}

.toggleButton::before {
 content: '';
 flex-grow: 1;
}

.toggleButton::after {
 display: inline-block;
 content: '';
 background-image: url('/catalog-images/arrow.svg');
 background-size: contain;
 background-repeat: no-repeat;
 width: 10px;
 height: 16px;
 margin-left: 7px;
 vertical-align: middle;
}

.toggleButtonHover {
 background-color: #eee;
}
.mediaBox {
 display: flex;
 flex-wrap: wrap; /* разрешаем перенос строки */
 gap: 30px; /* расстояние между карточками */
 justify-content: center; /* центрируем карточку по горизонтали */
 max-width: 100%;
 margin: auto;
 justify-content: flex-start;
}
