.sectionDocuments {
 display: flex;
 flex-direction: column;
}

.info {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 28px;
}

.title {
 color: #202020;
 font-size: 22px;
 font-weight: 700;
}

.mediaTitle {
 color: #202020;
 font-size: 22px;
 font-weight: 700;
}

@media screen and (max-width: 1024px) {
 .title {
  font-size: 22px;
 }
 .mediaTitle {
  font-size: 22px;
 }
}

@media screen and (max-width: 360px) {
 .title {
  font-size: 18px;
 }
 .count {
  font-size: 16px;
  margin-top: 12px;
 }
 .fileRow {
  display: block !important;
 }
 .nameContainer {
  flex-basis: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
 }
 .propertyContainer {
  flex-basis: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
 }
 .mediaTitle {
  font-size: 18px;
 }
}

.count {
 font-size: 18px;
 font-weight: 400;
 align-self: center;
 color: #3c4226;
 line-height: 130%;
}

.documentBox {
 display: flex;
 flex-direction: column;
 gap: 16px;
}
.fileRow {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #f8f8f8;
 padding-bottom: 8px;
}

.nameContainer {
 flex-basis: 65%;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.propertyContainer {
 display: flex;
 justify-content: space-between;
 flex-basis: 35%;
}

.fileDate,
.fileFormat,
.downloadLink {
 flex-shrink: 0;
 text-align: right;
}

.downloadLink::after {
 content: '';
 background-image: url('/catalog-images/download.svg');
 width: 13.3px;
 height: 13.3px;
 display: inline-block;
 vertical-align: middle;
 margin-left: 5px;
}

.propertyContainer span {
 flex-basis: calc(33.33%);
 min-width: 0;
}

@media screen and (max-width: 768px) {
 .fileFormat {
  display: none;
 }
 .nameContainer {
  flex-basis: 60%;
 }
 .propertyContainer {
  flex-basis: 40%;
 }
}

.fileName,
.fileDate,
.fileFormat,
.downloadLink {
 font-size: 16px;
 font-weight: 400;
 line-height: 130%;
 color: #535353;
}

@media screen and (max-width: 1024px) {
 .fileName,
 .fileDate,
 .fileFormat,
 .downloadLink {
  font-size: 16px;
 }
}

.fileName {
 color: #040404;
}

.downloadLink {
 text-decoration: none;
 cursor: pointer;
}

.toggleButton {
 text-align: left;
 align-items: center;
 justify-content: space-between;
 font-size: 18px;
 font-weight: 600;
 line-height: 100%;
 cursor: pointer;
 margin-top: 40px;
}

.toggleButton::before {
 content: '';
 flex-grow: 1;
}

.toggleButton::after {
 display: inline-block;
 content: '';
 background-image: url('/catalog-images/arrow.svg');
 background-size: contain;
 background-repeat: no-repeat;
 width: 10px;
 height: 16px;
 margin-left: 7px;
 vertical-align: middle;
}

.toggleButtonHover {
 background-color: #eee;
}
.mediaBox {
 /*display: flex;
 flex-wrap: wrap;
 gap: 30px;
 justify-content: flex-start;
 max-width: 100%;
 margin: auto;
 overflow-x: hidden;*/
 grid-template-columns: repeat(3, 1fr);
 gap: 30px;
 display: grid;
}
.nameContainer {
 flex-basis: 50%;
}

.propertyContainer {
 flex-basis: 50%;
}
@media screen and (max-width: 768px){
.mediaBox {
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
}
}

@media screen and (max-width: 360px){
.mediaBox {
 grid-template-columns: repeat(1, 1fr);
}
}