.main {
  background: #f6ffde;
}
.bg {
  padding-top: 40px;
  padding-bottom: 16px;
  background: #F6FFDE;
}

.fontColor {
  color: #040404;
}

.footer {
  width: 1400px;
  justify-content: space-between;
}
.footerBottom {
  width: 1400px;
  justify-content: space-between;
}
.footerAbout {
  gap: 442px;
  margin-right: 0;
}

.performer {
  padding-right: 11px;
}

.pageLinks {
  margin-right: 13%;
}

@media  screen and (max-width: 1400px) {
  .footer {
    width: 944px;
    gap: 0;
  }
  .footerBottom {
    width: 944px;
  }
  .footerAbout {
    flex-direction: row;
    gap: 175px;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 92%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footerBottom {
    width: 92%;
  }
  .footerAbout {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

}

@media screen and (max-width: 944px) {
  .terms {
    margin: 40px 12px 0 auto;
  }
  .performer {
    padding-right: 23px;
  }
  .pageLinks {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .footerBottom {
    flex-wrap: wrap;
  }
  .footerAbout {
    margin-right: 50px;
  }
  .footer {
    gap: 40px;
  }
}

/*@media screen and (max-width: 768px) {*/
/*  .footer {*/
/*    flex-direction: column;*/
/*    gap: 40px;*/
/*    width: 320px;*/
/*  }*/
/*  .footerAbout {*/
/*    flex-direction: column;*/
/*  }*/
/*  .terms {*/
/*    margin-top: 0;*/
/*    margin-left: 0;*/
/*  }*/
/*}*/





