.popUpBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #535353CC;
    position: fixed;
    z-index: 1;
}

.popUpWrapper {
    padding: 60px 20px;
    background-color: white;
}