.notHidden {
    display: flex;
}
.btn {
    background: #DEEDAB;
    padding: 12px 24px;
}

.header{
    font-size: 16px;
    width: 1400px;
    padding: 8px 40px;
}

.logo {
    width: 74px;
    height: 64px;
}

.headerMenu {
    display: none;
}

.headerActions {
    gap: 40px;
}

@media screen and (max-width: 1400px) {
    .headerList {
        display: none;
    }
    .headerMenu {
        display: flex;
    }
    .header {
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    .header{
        width: 92%;
        padding: 8px 0;
    }
    .logo {
        width: 74px;
        height: 64px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        padding: 3px 0;
    }
    .logo {
        width: 74px;
        height: 64px;
    }
}

@media (max-width: 640px) {
    .header{
        width: 92%;
        padding: 5px 0;
    }
    .logo {
        width: 42px;
        height: 36px;
    }
    .headerSocialMedia {
        display: none;
    }
    .btn {
        background: #DEEDAB;
        padding: 8px 16px;
    }
    .headerActions {
        gap: 28px;
    }
}