@import "tailwindcss";

@theme {
  --color-grey-2: #535353;
  --color-dark-green: #3C4226;
  --color-green: #DEEDAB;
  --color-green-hover: #ADBC7B;
  --color-light-green: #FBFFF0;
  --color-black: #040404;
  --color-anonsblack: #161616;
  --color-red: #DB0000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --background: #ffffff;
  --foreground: #040404;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.text-base {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}
.text-sm {
  font-size: 14px !important;
}