@import "tailwindcss";

@theme {
  --color-grey-3: #E2E2E2;
  --color-grey-2: #535353;
  --color-dark-green: #3C4226;
  --color-green: #DEEDAB;
  --color-green-hover: #ADBC7B;
  --color-light-green: #FBFFF0;
  --color-black: #040404;
  --color-anonsblack: #161616;
  --color-red: #DB0000;
  --color-grass: #BAC720;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --background: #ffffff;
  --foreground: #040404;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.text-base {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}
.text-sm {
  font-size: 14px !important;
}

.text-lg-popup {
  font-family: Comfortaa;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.text-sm-popup {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}