.skillsTrainingList {
  padding-left: 8px;
}

.skillsTrainingList li::before  {
  content: "•";
  font-size: 1em;
  margin-right: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 105px - 214px);
  gap: 80px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin: 0 auto;
  line-height: 100%;
  max-width:  1400px;;
  width: calc(100vw - 80px);
}

.mainImage {
  background-image: url('/images/main-page-library.png');
  background-repeat: no-repeat;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  height: 850px;
  background-position: center 10%;
  background-size: cover;
}

.mainImageContent {
  max-width: 1129px;
  top: 69%;
  letter-spacing: 0;
}

.mainImageTextTop {
  font-size: 52px;
  line-height: 110%;
}

.mainImageTextBottom {
  max-width: 841px;
  font-size: 18px;
  line-height: 140%;
}

.aboutLearning {
  text-align: center;
  font-size: 42px;
}

.feedback {
  width: 1400px;
}

.skillsTrainingAbout,
.announcementsContainer {
  display: flex;
  gap: 30px;
}

.aboutLearningTitleContainer {
  margin: 0 auto;
  width: 1027px;
}

.aboutLearningContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.topicsStudy {
  width: 447px;
  min-width: 301px;
  height: 200px;
}

.topicsStudyText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
}

.materialCatalog {
  display: flex;
  line-height: 100%;
  gap: 10px;
}

.materialCatalog::after {
  content: url("/images/materialCatalogArrow.svg");
  position: relative;
  top: 1px;
}

.skillsTrainingTitle {
  font-size: 22px;
}

.skillsTrainingProspects {
  gap: 40px;
}

.mediaSchoolSpecial {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.mediaSchoolSpecialTitle,
.mediaSchoolExperienceTeacher {
  font-size: 22px;
}

.mediaSchoolSpecialContent {
  display: flex;
}

.mediaSchoolSpecialItem {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  gap: 16px;
  padding: 30px;
}

.mediaSchoolExperience {
  gap: 28px;
}

.mediaSchoolExperienceTeachers {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.feedbackContent {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feedbackContentItem {
  max-width: 328px;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.contactUsContent {
  gap: 40px;
}

.contactUsInfo {
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.contactUsInfoItem {
  gap: 12px;
}

.contactUsTitle {
  font-size: 28px;
  line-height: 130%;
  text-align: center;
}

.contactInfo {
  font-size: 16px;
  line-height: 130%;
}

.contactInfoValue {
  font-size: 18px;
  line-height: 140%;
}

.mediaSchoolTeacher {
  width: 328px;
  height: 400px;
}

.announcementsContainerItem {
  width: 447px;
}

@media screen and (max-width: 1400px) {
  .mediaSchoolSpecialContent {
    width: 92%;
    flex-direction: column;
    margin: 0 auto;
  }
  .mediaSchoolExperienceTeachers {
    gap: 20px;
  }
  .feedbackContentItem {
    max-width: 302px;
  }
}

@media screen and (max-width: 1200px) {
  .topicsStudyText {
    font-size: 22px;
    line-height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .feedback {
    width: 944px;
  }
  .mainImage {
    height: 600px;
    background-position: center;
    background-size: cover;
  }
  .aboutLearningContainer,
  .mediaSchoolExperienceTeachers,
  .announcementsContainer,
  .feedbackContent,
  .contactUsInfo {
    gap: 20px;
  }
  .mainImageTextTop {
    font-size: 40px;
  }
  .aboutLearning {
    font-size: 36px;
  }
  .mainImageContent {
    max-width: 936px;
    top: 60%;
  }
  .topicsStudy {
    width: 301px;
    height: 135px;
  }
  .topicsStudyText,
  .contactUsTitle {
    font-size: 22px;
    line-height: 100%;
  }
  .skillsTrainingAbout {
    flex-direction: column;
    gap: 28px
  }
  .aboutLearningTitleContainer {
    max-width: 734px;
  }
  .skillsTrainingTitle,
  .mediaSchoolExperienceTeacher {
    font-size: 18px;
  }
  .skillsTrainingProspects,
  .contactUsContent {
    gap: 28px;
  }
  .mediaSchoolSpecialItem {
    padding: 30px 33px;
  }
  .contactUsInfoItem {
    gap: 8px;
  }
  .announcementsContainerItem {
    width: 462px;
  }
}

@media screen and (max-width: 1023px) {
  .feedbackContentItem {
    max-width: 354px;
  }
}

@media screen and (max-width: 970px) {
  .aboutLearningContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .topicsStudy {
    width: 354px;
    height: 135px;
  }
  .announcementsContainerItem {
    width: 354px;
  }
  .contactUsInfo {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .feedback {
    width: 728px;
  }
  .mainImage {
    height: 550px;
  }
  .aboutLearningContainer {
    gap: 20px;
  }
  .mainImageTextTop {
    font-size: 32px;
  }
  .aboutLearning {
    font-size: 28px;
  }
  .mainImageTextBottom {
    max-width: 728px;
  }
  .mainImageContent {
    max-width: 728px;
  }
  .topicsStudyText {
    font-size: 22px;
    line-height: 100%;
  }
  .skillsTrainingAbout {
    flex-direction: column;
    gap: 28px
  }
  .aboutLearningTitleContainer {
    width: 89%;
  }
  .skillsTrainingTitle,
  .mediaSchoolExperienceTeacher {
    font-size: 18px;
  }
  .skillsTrainingProspects,
  .contactUsContent {
    gap: 28px;
  }
  .mediaSchoolSpecialContent {
    flex-direction: column;
  }
  .mediaSchoolSpecialItem {
    padding: 25px 28px;
  }
  .mediaSchoolExperienceTeachers,
  .announcementsContainer,
  .feedbackContent {
    gap: 20px;
  }
  .contactUsInfo {
    gap: 8px;
  }
  .contactUsInfoItem {
    gap: 4px;
  }
  .contactUsTitle {
    font-size: 18px;
    line-height: 100%;
  }
}

@media screen and (max-width: 730px) {
  .aboutLearningContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .topicsStudy {
    width: 482px;
    height: 240px;
  }
  .topicsStudyText {
    font-size: 28px;
    line-height: 130%;
  }
}

@media screen and (max-width: 728px) {
  .announcementsContainer {
    justify-content: center;
  }
  .materialCatalog {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .mainContent,
  .skillsTraining,
  .mediaSchoolSpecial,
  .mediaSchoolExperience,
  .announcements,
  .feedback,
  .contactUs {
    width: 320px;
  }
  .mainImage {
    height: 750px;
    background-size: cover;
  }
  .aboutLearningContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mainImageContent {
    max-width: 320px;
    top: 50%;
  }
  .aboutLearning {
    font-size: 24px;
  }
  .mainImageTextTop {
    font-size: 28px;
  }
  .mainImageTextBottom {
    max-width: 320px;
    font-size: 16px;
    line-height: 130%;
  }
  .topicsStudy {
    width: 320px;
    height: 135px;
  }
  .topicsStudyText,
  .contactUsTitle {
    font-size: 18px;
    line-height: 100%;
  }
  .skillsTrainingAbout {
    flex-direction: column;
    gap: 20px
  }
  .aboutLearningTitleContainer {
    width: 320px;
  }
  .skillsTrainingTitle,
  .mediaSchoolSpecialTitle,
  .mediaSchoolExperienceTeacher {
    font-size: 18px;
  }
  .skillsTrainingProspects,
  .mediaSchoolSpecial {
    gap: 28px;
  }
  .mediaSchoolSpecialContent {
    flex-direction: column;
  }
  .mediaSchoolSpecialItem {
    padding: 20px;
  }
  .mediaSchoolExperience,
  .contactUsContent {
    gap: 20px;
  }
  .mediaSchoolExperienceTeachers,
  .announcementsContainer,
  .feedbackContent {
    gap: 0;
  }
  .contactUsInfo {
    flex-direction: column;
    gap: 8px;
  }
  .contactUsInfoItem {
    gap: 4px;
  }
  .contactInfo {
    font-size: 14px;
    line-height: 100%;
  }
  .contactInfoValue {
    font-size: 16px;
    line-height: 130%;
  }
  .announcementsContainerItem {
    width: 320px;
  }
}