.passwordRecoveryWrapper {
    width: 1400px;
    margin: 0 auto 120px;
    gap: 30px;
}

.passwordRecoveryImg {
    background-image: url('/images/full-length-man.png');
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 100% 270%;
    object-fit: cover;
    min-width: 685px;
}

.passwordRecoveryFormWrapper {
    padding: 60px;
    gap: 32px;
    max-height: 404px;
}

.passwordRecoveryTitle {
    font-size: 28px;
    line-height: 130%;
}

.passwordRecoveryAbout {
    font-size: 18px;
    line-height: 140%;
}

.passwordRecoveryForm {
    gap: 40px;
}

.passwordRecoveryFormButtons {

}

@media screen and (max-width: 1400px) {
    .passwordRecoveryImg {
        display: none;
    }
    .passwordRecoveryWrapper {
        width: 45%;
    }
}

@media screen and (max-width: 1024px) {
    .passwordRecoveryWrapper {
        width: 462px;
        margin: 0 auto 40px;
        gap: 0;
    }
    .passwordRecoveryFormWrapper {
        padding: 32px;
        gap: 28px;
    }
    .passwordRecoveryTitle {
        font-size: 22px;
        line-height: 100%;
    }
    .passwordRecoveryAbout {
        font-size: 16px;
        line-height: 130%;
    }
}

@media screen and (max-width: 550px) {
    .passwordRecoveryFormWrapper {
        padding: 28px 16px;
    }
    .passwordRecoveryForm {
        gap: 28px;
    }
    .passwordRecoveryFormButtons {
        flex-direction: column;
    }
    .passwordRecoveryWrapper {
        width: 320px;
    }
}