.loginContainer {
    width: 1398px;
    gap: 28px;
    margin-bottom: 120px;
}

.loginImage {
    background-image: url('/images/Login-man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 464px;
}

.loginTitleContainer {
    gap: 16px;
}

.loginContent {
    width: 685px;
    padding: 60px;
    gap: 32px;
    box-sizing: border-box;
}

.loginTitle {
    font-size: 28px;
    line-height: 130%;
}

.loginForm {
    gap: 40px;
}

.login {
    gap: 12px;
}

@media screen and (max-width: 1024px) {
    .loginContainer {
        width: 462px;
        gap: 0;
        margin-bottom: 40px;
    }
    .loginImage {
        display: none;
    }
    .loginTitleContainer {
        gap: 12px;
    }
    .loginTitle {
        font-size: 22px;
        line-height: 100%;
    }
    .loginForm {
        gap: 28px;
    }
    .login {
        gap: 8px;
    }
    .loginContent {
        gap: 28px;
        padding: 32px;
    }
}
@media screen and (max-width: 768px) {
    .loginContainer {
        width: 541px;
    }
}
@media screen and (max-width: 360px) {
    .loginContainer {
        width: 320px;
    }
    .loginContent {
        gap: 28px;
        padding: 28px 16px;
    }
}
