.contactsContainer {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto 80px;
    padding: 0 16px;
}

.contactsTitle {
    font-size: 52px;
}

.contactsContainerAbout {
    gap: 40px;
}

.contactUs {
    gap: 20px;
}

.contactInfo {
    gap: 12px;
}

.contactInfoTelEmail {
    gap: 75px;
}

.contactsMap {
    height: 450px;
    width: 100%;
}

.contactsContent {
    display: flex;
    gap: 30px;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .contactsContainer {
        max-width: 944px;
        width: 100%;
    }
    .contactsTitle {
        font-size: 40px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail {
        flex-direction: column;
    }
    .contactsContent {
        gap: 20px;
    }
    .contactsImage {
        height: 267px;
    }
    .contactsMap {
        height: 400px;
    }
}

@media screen and (max-width: 940px) {
    .contactsContainer {
        max-width: 728px;
        width: 100%;
    }
    .contactsTitle {
        font-size: 32px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail,
    .contactsContent {
        flex-direction: column;
    }
    .contactsContent {
        gap: 40px;
    }
    .contactsImage {
        width: 728px;
        height: 420px;
    }
}

@media screen and (max-width: 730px) {
    .contactsContent {
        width: 90vw;
    }
    .contactsImage {
        object-fit: cover;
        width: clamp(320px, 90vw, 728px);
        height: clamp(185px, 50vw, 420px);
        align-self: center;
    }
}

@media screen and (max-width: 360px) {
    .contactsContainer {
        max-width: 320px;
        width: 100%;
    }
    .contactsTitle {
        font-size: 28px;
    }
    .contactsContainerAbout {
        gap: 28px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail {
        flex-direction: column;
    }
    .contactsContainer {
        margin: 0 auto 60px;
    }
    .contactsImage {
        height: 185px;
    }
    .contactsMap {
        height: 240px;
    }
}