.newsContainer {
    max-width: 1400px;
    width: calc(100vw - 80px);
    margin: 0 auto 80px;
    display: flex; 
    flex-direction: column;
    gap: 60px;
}

.newsAll {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.newsCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.tab-style {
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 1; 
    letter-spacing: 0; 
    text-align: center; 
}

.textStyle {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal; 
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
}

.verticalLine {
    width: 1.5px;
    height: 25px; 
    background-color: #BAC720;
}

.customRadio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.customRadio input[type="radio"] {
  display: none; /* Скрываем стандартные радиокнопки */
}

.radioBtn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #BAC720; 
  background-color: white; 
  position: relative;
  margin-right: 10px; 
}

.radioBtn::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #BAC720; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s; 
}

.customRadio input[type="radio"]:checked + .radioBtn::after {
  opacity: 1; 
}

@media screen and (max-width: 1024px) {
    .newsContainer {
        max-width: 944px;
        width: calc(100vw - 80px);
        gap: 20px;
    }
    .newsCard {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .newsContainer {
        max-width: 728px;
        width: calc(100vw - 40px);
        gap: 40px;
    }
}

@media screen and (max-width: 360px) {
    .newsContainer {
        max-width: 320px;
        width: calc(100vw - 40px);
        gap: 40px;
        margin: 0 auto 60px;
    }
    .newsCard {
        grid-template-columns: 1fr;
    }
}

.aboutLearning {
  font-family: Comfortaa;
  font-weight: 700;
  font-style: Bold;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
