.newsContainer {
    max-width: 1400px;
    width: calc(100vw - 80px);
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.newsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.newsAll {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.newsContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 30px;
    max-width: 1043px;
    width: calc(76vw);
}

.newsTitle {
    font-size: 42px;
}

.newsPreview {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.newsImage {
    width: calc(50vw - 55px);
    height: auto;
    max-width: 685px;
    max-height: 460px;
    object-fit: cover; 
}
.Onenews-module__n4XGSG__subImage,
.subImage {
    height: auto;
    max-width: 1043px;
    width: calc( 75vw ); 
    object-fit: cover;
}

.newsParagraph {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.commentSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.commentInput {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    max-width: 1043px;
    width: calc(76vw);
}

.commentButton {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width:129px;

}

.commentButton:hover {
    background-color: #0056b3;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comment {
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.underline {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .newsContainer {
        width: 944px;
        gap: 20px;
    }
    .newsTitle {
        font-size: 40px;
    }
    .newsImage {
        width: calc(50vw - 50px);
        height: auto;
        max-width: 462px;
        max-height: 310px;
        object-fit: cover; 
    }
}

@media screen and (max-width: 768px) {
    .newsContainer {
        width: 728px;
        gap: 40px;
    }
    .newsTitle {
        font-size: 32px;
    }
    .newsImage {
        width: calc(50vw - 30px);
        height: auto;
        max-width: 354px;
        max-height: 236px;
        object-fit: cover; 
    }
}

@media screen and (max-width: 360px) {
    .newsContainer {
        width: 320px;
        gap: 40px;
        margin: 0 auto 60px;
    }
    .newsTitle {
        font-size: 28px;
    }
    .newsImage {
        max-width: 320px;
        width: calc(100vw - 40px);
        height: auto;
    }
    .newsInfo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
    }
}
