.newsContainer {
    width: 1400px;
    margin: 0 auto 80px;
    display: flex; 
    flex-direction: column;
    gap: 60px;
}

.newsInfo {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.newsAll {
    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.newsContent {
    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.newsTitle {
    font-size: 42px;
}

.newsContainerAbout {
    gap: 40px;
}

.contactUs {
    gap: 20px;
}

.contactInfo {
    gap: 12px;
}

.contactInfoTelEmail {
    gap: 75px;
}

.newsMap {
    background-image: url('/images/Map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .newsContainer {
        width: 944px;
    }
    .newsTitle {
        font-size: 40px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail {
        flex-direction: column;
    }
    .newsContainer {
        gap: 20px;
    }
    .newsImage {
        height: 267px;
    }
    .newsMap {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .newsContainer {
        width: 728px;
    }
    .newsTitle {
        font-size: 32px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail,
    .newsContainer {
        flex-direction: column;
    }
    .newsContainer {
        gap: 40px;
    }
    .newsImage {
        width: 728px;
        height: 420px;
    }
}

@media screen and (max-width: 360px) {
    .newsContainer {
        width: 320px;
    }
    .newsTitle {
        font-size: 28px;
    }
    .newsContainerAbout {
        gap: 28px;
    }
    .contactUs,
    .contactInfoTelEmail {
        gap: 12px;
    }
    .contactInfo {
        gap: 4px;
    }
    .contactInfoTelEmail,
    .newsContainer {
        flex-direction: column;
    }
    .newsContainer {
        gap: 40px;
        margin: 0 auto 60px;
    }
    .newsImage {
        width: 320px;
        height: auto;
    }
    .newsMap {
        height: 240px;
    }
}