.burgerMenu {
    width: 550px;
    height: 332px;
    top: -40px;
    right:  -0px;
    padding: 40px 20px;
    @media (max-width: 1024px) {
       right:  -40px;
    }
    @media (max-width: 767px) {
       height: 392px;
       right:  -15px;
    }
}

.burgerLinksMedia {
    display: none;
}

.burgerMenuSearch {
    display: none;
}

@media screen and (max-width: 768px) {
    .burgerMenu {
        width: 450px;
        top: -30px;
        right:  -30px;
    }
}

@media screen and (max-width: 700px) {
    .burgerMenu {
        width: 320px;
        top: -30px;
        right: -24px;
        padding: 28px 20px;
    }
    .burgerLinksMedia {
        display: flex;
    }
    .burgerMenuSearch {
        display: block;
        top: 40px;
        right: 50px;
    }
}

@media screen and (max-width: 410px) {
    .burgerMenu {
        width: 280px;
    }
}