.burgerMenu {
    width: 550px;
    height: 332px;
    top: 45px;
    right: 40px;
    padding: 40px 20px;
}

.burgerLinksMedia {
    display: none;
}

.burgerMenuSearch {
    display: none;
}

@media screen and (max-width: 768px) {
    .burgerMenu {
        width: 450px;
        top: 40px;
    }
}

@media screen and (max-width: 700px) {
    .burgerMenu {
        width: 320px;
        top: 35px;
        right: 28px;
        padding: 28px 20px;
    }
    .burgerLinksMedia {
        display: flex;
    }
    .burgerMenuSearch {
        display: block;
        top: 40px;
        right: 50px;
    }
}

@media screen and (max-width: 410px) {
    .burgerMenu {
        width: 280px;
    }
}