.overlay {
    position: fixed;
    top: 0;
    right:  0;
    width: 100vw;
    height: 100vh;
    background-color: #535353CC;
    z-index: 900;
}


.burgerMenu {
    width: 550px;
    height: 332px;
    right: 0;
    padding: 40px 20px;
    @media (max-width: 767px) {
       height: 392px;
    }
}

.burgerLinksMedia {
    display: none;
}

.burgerMenuSearch {
    display: none;
}

@media screen and (max-width: 768px) {
    .burgerMenu {
        width: 450px;
    }
}

@media screen and (max-width: 700px) {
    .burgerMenu {
        width: 320px;
        padding: 28px 20px;
    }
    .burgerLinksMedia {
        display: flex;
    }
    .burgerMenuSearch {
        display: block;
        top: 40px;
        right: 50px;
    }
}

@media screen and (max-width: 410px) {
    .burgerMenu {
        width: 280px;
    }
}