.breadcrumb {
 display: flex;
 align-items: center;
 margin: 40px auto;
 width: 1400px;
}

.breadcrumbItem {
 color: #535353;
 text-decoration: none;
 font-size: 14px;
}

.active {
 color: #040404 !important;
}

@media screen and (max-width: 1024px) {
 .breadcrumb {
   width: 944px;
 }
}

@media screen and (max-width: 768px) {
 .breadcrumb {
   width: 728px;
 }
}

@media screen and (max-width: 360px) {
 .breadcrumb {
   width: 320px;
 }
}